# Copied from ~/.local/share/flatpak/app/com.discordapp.Discord/current/active/export/share/applications/com.discordapp.Discord.desktop
# Update /home/user as necessary for your user home and script location

[Desktop Entry]
Categories=Network;InstantMessaging;
Comment[en_US]=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
Exec=/bin/bash /home/user/discord_anti_idle.sh
GenericName[en_US]=Internet Messenger
GenericName=Internet Messenger
Icon=com.discordapp.Discord
MimeType=
Name[en_US]=Discord
Name=Discord
Path=/home/user
StartupNotify=true
StartupWMClass=discord
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.27
X-Flatpak=com.discordapp.Discord
X-Flatpak-Tags=proprietary;
X-KDE-SubstituteUID=false
X-KDE-Username=
